
<%- include("partials/header"); -%>
<h1>Game is not over until I win (InShaAllah)</h1>
<h1>Contact</h1>
<p>How long you deprive your better half and being deprived from her also?
    How long you deprive your better half and being deprived from her also?
    How long you deprive your better half and being deprived from her also?
    How long you deprive your better half and being deprived from her also?
    How long you deprive your better half and being deprived from her also?
    How long you deprive your better half and being deprived from her also?
</p>
<p><%= contact %></p>
<%- include("partials/footer"); -%>
